.inter-uniquifier {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.raleway-uniquifier {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/* Banner section style */
header{
   background-image: url(Assets/Hero-bg.png);
   margin: auto;
}
nav h3{
 font: size 34px;
  color:  blue;
}
nav{
 
  padding-top: 20px;
  align-items: center;
      display: flex;
      justify-content: space-between;
     margin: 0px 100px;
    
}

button:hover{
  background-color: rgb(189, 186, 32);
  color: black;
}
h2{
   font-family: "Raleway", sans-serif;
   font-optical-sizing: auto;
  font-style: normal;
  line-height: 50%;
  }

.banner{
  text-align: center;
  padding: 80px;
}

/* action section style */

.action-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 116px 141px 116px 159px;
  gap: 100px;
}
button{
  font-family: "Raleway", sans-serif;
  background-color: #4E47FF;
color: #FFFFFF;
font-weight: bold;
padding: 10px 30px;
border: none;
border-radius: 5px;
cursor: pointer;
}
img{
  border-radius: 48px;
}
.action h3{
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  font-weight: bold;
}
.action p{
   font-family: "Raleway", sans-serif;
  font-size: 24px;
  color: #bfbdd4;
  font-weight: normal;
}
/* Productive user section style  */
.Productive-Users-Section{
  background-color: #4E47FF10;
  padding: 50px 80px;
   margin: 120px 140px; 
   border-radius: 24px;
}
.Productive-Users-Section h3{
  font-size: 38px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
 

}
.ratings{
   margin-top: 60px;
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: space-around;
  
}
.ratings h2{
  font-family: "Inter", sans-serif;
 
   color: #4E47FF;
   font-size: 80px;
   font-weight: bold;
   gap: 158px;
   margin: 0px;
}
.ratings p{
  font-family: "Inter", sans-serif;
  color: #25243250;
  font-size: 20px;
  margin: 0px;
}
/* Review section style */
.review {
  margin-top: 137px;
  padding: 60px 20px;
  max-width: 1440px;
  margin: 0 auto;
}

.review h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 50px;
  color: black;
}

.testimonial-container {
  margin-left: 151px;
  margin-right: 149px;
  display: flex;
  justify-content: center;
   gap: 30px;
}

.testimonial-box {
  background: white;
  border-radius: 15px;
  padding: 24px;
  width: 367px;
  height: 259px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
 }
.testimonial-box h3 {
  font-style: normal;
  margin-left: 0px;
  margin-top: 24px;
  margin-right: 24px;
  margin-bottom: 24px;
 color: black;
  
}

.testimonial-box .quote {
  
  font-style: normal;
  color: #030101;
  line-height: 1.6;
  margin-top: 8px;
  margin-left: 0px;

}

.testimonial-box .reviewer {
  font-weight: bold;
  color: #2c3e50;
  text-align: right;
}
.last-part {
  margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    gap: 10px; 
}
.name{
  margin: 2px;
  color:#423434
}
.date{
  margin: 2px;
  color: #9e9494;
}
/* get in touch section style */
.touch{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 120px 140px; 
  padding: 80px 0px;
  background-color: white;
  
}
.touch-title{
  font-size: 80px;
  font-weight: bold;
  color: #000000;
}
.touch-form label {
  display: block;


}
form{
 display: flex;
 flex-direction: column;
}
form label{
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;

}
form input,
form textarea {
  margin-bottom: 19px;
  padding: 20px 30px;
  font-size: 20px;
  border: 1px solid #D6DDED;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #a1bfdf;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.25);
  
}






